<h1> SIMPLE INVENTORY using NodeJS/ MySQL</h1>
    

    <div class ="container">
       <form action="/save" method="post">
        <div class="form-group">
            
        <div class="form-group">
            <label for="name>">Name:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter Item Name" name="name" required>
            </div>
        <div class="form-group">
            <label for="qty">Quantity:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter Quantity" name="qty" required>
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter Amount" name ="amount" required>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>


        </div>



    </div>